.leftBar {
    height: 70vh;
}

.avatar, .contacts {
    height: 100%;
    width: 100%;
}


/* xs */
@media  screen and (max-width: 414.5px) {
    .leftBar {
        height: 15vh;
    }
}

/* sm */
@media screen and (min-width: 415px) and (max-width: 599.5px) {
    .leftBar {
        height: 30vh;
    }

    .avatar, .contacts {
        width: 100%;
    }
}

/* md */
@media screen and (min-width: 600px) and (max-width: 899.5px) {
    .leftBar {
        height: 60vh;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    .leftBar {
        height: 70vh;
    }
}