.avatar, .contacts {
    width: 100%;
    height: 50%;
}

.stack {
    height: 610px;
}


@media screen and (max-width: 599.5px) {
    .stack {
        height: 250px;
    }

    .avatar, .contacts {
        width: 100%;
        height: 100%;
    }
}