.rightBar {
    height: 600px;
}

/* xs */
@media  screen and (max-width: 325px) {
    .rightBar {
        height: 355px
    }
}

/* md */
@media  screen and (max-width: 899.5px) {
    .rightBar {
        height: 400px;
        margin-top: 1rem;
    }
}