.header {
    margin: 2rem;
    height: 10vh;
}

.nav {
    width: 100%;
}

@media screen and (max-width: 414.5px) {
    .nav {
        display: none;
    }

    .header {
        display: flex;
        justify-content: center;
    }
}