.center {
    height: 70vh;
}

/* xs */
@media  screen and (max-width: 325px) {
    .center {
        height: 45.5vh;
    }
}

/* sm */
@media screen and (max-width: 599.5px) {
    .center {
        height: 60vh;
        margin-top: 1rem;
    }
}

/* md */
@media  screen and (max-width: 899.5px) {
    .center {
        height: 60vh;
    }
}